/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 12, ../_sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 15, ../_sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 26, ../_sass/screen.scss */
body {
  line-height: 1.5;
  font-size: 14px;
  font-family: 'Open Sans', Helvetica, Arial, "Helvetica Neue", sans-serif;
}

/* line 32, ../_sass/screen.scss */
p, ul, ol {
  margin-bottom: 1.5em;
}

/* line 36, ../_sass/screen.scss */
ul {
  list-style-type: disc;
}

/* line 39, ../_sass/screen.scss */
ol {
  list-style: decimal;
}

/* line 43, ../_sass/screen.scss */
h1, h2, h3, h4 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 48, ../_sass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 52, ../_sass/screen.scss */
em, i {
  font-style: italic;
}

/* line 56, ../_sass/screen.scss */
h1 {
  font-size: 2em;
}

/* line 60, ../_sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 64, ../_sass/screen.scss */
h3 {
  font-size: 1.25em;
}

/* line 68, ../_sass/screen.scss */
h4 {
  font-weight: bold;
}

/* line 72, ../_sass/screen.scss */
small {
  font-size: .75em;
}

/* line 76, ../_sass/screen.scss */
.footnote {
  color: grey;
  line-height: 1.25;
}

/* line 82, ../_sass/screen.scss */
a {
  color: #376184;
  text-decoration: none;
  border-bottom: 2px solid #376184;
}
/* line 86, ../_sass/screen.scss */
a:hover, a:focus {
  opacity: .85;
}

/* line 95, ../_sass/screen.scss */
.wrap {
  width: 100%;
  max-width: 36em;
  margin: 2em auto;
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (min-width: 640px) {
  /* line 106, ../_sass/screen.scss */
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 112, ../_sass/screen.scss */
  body {
    font-size: 18px;
  }
}
