/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans:400);
/* line 5, ../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 12, ../_sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 15, ../_sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 40, ../_sass/screen.scss */
body {
  line-height: 1.5;
  font-size: 14px;
  color: #212121;
  font-family: 'PT Serif', Georgia, serif;
}

/* line 47, ../_sass/screen.scss */
p, ul, ol {
  margin-bottom: 1.5em;
}

/* line 51, ../_sass/screen.scss */
ul, ol {
  margin-left: 1.5em;
}

/* line 55, ../_sass/screen.scss */
ul {
  list-style-type: disc;
}

/* line 58, ../_sass/screen.scss */
ol {
  list-style: decimal;
}

/* line 62, ../_sass/screen.scss */
h1, h2, h3, h4 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-family: 'Open Sans', Helvetica, Arial, "Helvetica Neue", sans-serif;
}

/* line 68, ../_sass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 72, ../_sass/screen.scss */
em, i {
  font-style: italic;
}

/* line 76, ../_sass/screen.scss */
h1 {
  font-size: 3em;
  font-weight: bold;
}

/* line 81, ../_sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 85, ../_sass/screen.scss */
h3 {
  font-size: 1.25em;
}

/* line 89, ../_sass/screen.scss */
h4 {
  font-weight: bold;
}

/* line 93, ../_sass/screen.scss */
small {
  font-size: .75em;
}

/* line 97, ../_sass/screen.scss */
.intro {
  font-size: 1.25em;
  padding-bottom: 1em;
  border-bottom: 2px solid #2176ff;
}

/* line 103, ../_sass/screen.scss */
.footnote {
  color: #a4a4a4;
  line-height: 1.25;
}

/* line 108, ../_sass/screen.scss */
.list-inline {
  margin-left: 0;
  font-size: .75em;
}
/* line 111, ../_sass/screen.scss */
.list-inline li {
  list-style: none;
  display: inline-block;
}
/* line 115, ../_sass/screen.scss */
.list-inline a {
  margin: 0 1em 0 0;
  padding: 1em 0;
  border-bottom: 0;
}

/* line 123, ../_sass/screen.scss */
a {
  color: #2176ff;
  text-decoration: none;
  border-bottom: 2px solid #2176ff;
}
/* line 127, ../_sass/screen.scss */
a:hover, a:focus {
  color: #ea3939;
}

/* line 135, ../_sass/screen.scss */
.wrap {
  width: 100%;
  max-width: 48em;
  margin: 2em auto;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 143, ../_sass/screen.scss */
.section-bg {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* line 148, ../_sass/screen.scss */
.section-bg-grey {
  background: #fcfcfc;
}

/* line 154, ../_sass/screen.scss */
.css-family-logo {
  display: block;
  max-width: 16em;
  margin: 1.5em auto;
}

/* line 160, ../_sass/screen.scss */
.circle-yellow {
  fill: #fcc720;
}

/* line 162, ../_sass/screen.scss */
.circle-red {
  fill: #ea3939;
}

/* line 164, ../_sass/screen.scss */
.circle-blue {
  fill: #2176ff;
}

/* line 166, ../_sass/screen.scss */
[class^="type__letter"] {
  fill: #ea3939;
}

/* line 168, ../_sass/screen.scss */
[class^="globe__"] {
  fill: #212121;
}

@media only screen and (min-width: 640px) {
  /* line 171, ../_sass/screen.scss */
  body {
    font-size: 16px;
  }

  /* line 174, ../_sass/screen.scss */
  .css-family-logo {
    max-width: 16em;
    float: right;
    margin: 3em 0 2em 2em;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 182, ../_sass/screen.scss */
  body {
    font-size: 18px;
  }
}
