/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans:400);


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// vars

$bottom-margin: 1.5em;
$color-blue: #2176ff;
$color-red: #ea3939;
$color-black: #212121;
$color-grey: #a4a4a4;
$color-yellow: #fcc720;
$color-white: #fff;
$color-beige: #f5f2e6;



@mixin serif {
  font-family: 'PT Serif', Georgia, serif;
}

@mixin sans {
  font-family: 'Open Sans', Helvetica, Arial, "Helvetica Neue", sans-serif;
}

body {
  line-height: 1.5;
  font-size: 14px;
  color: $color-black;
  @include serif;
}

p, ul, ol {
  margin-bottom: $bottom-margin;
}

ul, ol {
  margin-left: 1.5em;
}

ul {
  list-style-type: disc;
}
ol {
  list-style: decimal;
}

h1, h2, h3, h4 {
  margin-top: $bottom-margin;
  margin-bottom: $bottom-margin;
  @include sans;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-weight: bold;
}

small {
  font-size: .75em;
}

.intro {
  font-size: 1.25em;
  padding-bottom: 1em;
  border-bottom: 2px solid $color-blue;
}

.footnote {
  color: $color-grey;
  line-height: 1.25;
}

.list-inline {
  margin-left: 0;
  font-size: .75em;
  li {
    list-style: none;
    display: inline-block;
  }
  a {
    margin: 0 1em 0 0;
    padding: 1em 0;
    border-bottom: 0;
  }
}

.list-confs {
  margin-left: 0;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18ch, 1fr) );
  grid-gap: 1rem;
  a {
    display: block;
    margin: 0;
    padding: 2em 1em;
    border-bottom: 0;
    background-color: $color-blue;
    color: $color-white;
    &:hover, &:focus {
      background-color: $color-red;
      color: $color-white;
    }
  }
}

//links
a {
  color: $color-blue;
  text-decoration: none;
  border-bottom: 2px solid $color-blue;
  &:hover,
  &:focus {
    color: $color-red;
  }
}


// layout
.wrap {
  width: 100%;
  max-width: 48em;
  margin: 2em auto;
  padding-left: 1em;
  padding-right: 1em;
}

.section-bg {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.section-bg-grey {
  background: #fcfcfc;
}


// icon
.css-family-logo {
  display: block;
  max-width: 16em;
  margin: 1.5em auto;
}

.circle-yellow { fill: $color-yellow; }

.circle-red { fill: $color-red; }

.circle-blue { fill: $color-blue; }

[class^="type__letter"] { fill: $color-red; }

[class^="globe__"] { fill: $color-black; }

@media only screen and (min-width: 640px) {
  body {
    font-size: 16px;
  }
  .css-family-logo {
    max-width: 16em;
    float: right;
    margin: 3em 0 2em 2em;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
